
*{
	font-family: 'IBM Plex Mono', monospace;
}

body{
	margin: 0px;
	width: 100%;
}

.items {
	height: 75px;

	display: flex;
	align-items: center;
	gap: 50px;

	padding-left: 50px;
	padding-right: 50px;

}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	cursor: pointer;
	color: grey;
}

.container{
  
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;

  width: 300px;

  animation-duration: 1s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

.data{
	width: 300px;

	flex-wrap: nowrap;
	display: flex;

	justify-content: center;
	align-items:baseline;

	gap: 15px;
}
.hide{
	display: none;
}

@media only screen and (max-width: 600px){
	.container{
		margin-top: 100px;
	}
	.items{		justify-content: center;
	}
}

@keyframes fadeIn {
	from{
		display: none;
		opacity: 0;	
	}
	to{
		opacity: 1;
		display: block;
	}
}